<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstorageph;AccountKey=LBx3uCe75JBBKnxWKpGkB+/TiEiCH01pkh6G3XKsOQk9hwA84AvPdDZIEUs8hC8n+avNZFuqA3mSUx07k5GMTg==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>